body {
  height: 100vh;
  background-image: linear-gradient(#d73c8c, #094eb6);
  background-repeat: no-repeat;
}
.main {
  width: 25%;
  height: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
h1 {
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}
.Entrance input[type="text"] {
  margin-left: 44px;
  margin-top: 14px;
  width: 250px;
  height: 40px;
  background-color: Gainsboro;
  opacity: 0.6;
  border: 0.5px;
  border-radius: 2px;
}
.remember {
  font-family: Arial;
  margin-top: 10px;
  margin-left: 43px;
  text-align: left;
  color: #c0c0c0;
  font-size: 14px;
}
.log input[type="submit"] {
  background-color: #d43e8e;
  color: white;
  margin-left: 44px;
  margin-top: 14px;
  width: 255px;
  height: 40px;
  border: 0.5px;
  border-radius: 2px;
}
p {
  margin-left: 128px;
  margin-top: 40px;
  color: #c0c0c0;
}
.fago a {
  position: relative;
  top: 15px;
  left: 41px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 2px;
  border: 1px solid #d3d3d3;
  text-decoration: none;
}
.fa {
  color: #39558f;
  font-family: Arial;
  font-size: 13px;
}
.go {
  color: black;
  font-family: Arial;
  font-size: 13px;
}
.go img,
.fa img {
  position: relative;
  top: 5px;
  left: -5px;
  width: 20px;
  height: 20px;
}
.signup {
  position: relative;
  left: -44px;
  top: 60px;
  color: #c0c0c0;
}
.signup a {
  color: #c0c0c0;
}
